[Desktop Entry]
Version=1.0
Name=Mandike
Comment= XMD P2P Cryptocurrency
Comment[fr]= XMD, monnaie virtuelle cryptographique pair à pair
Comment[tr]= XMD, eşten eşe kriptografik sanal para birimi
Exec=mandike-qt %u
Terminal=false
Type=Application
Icon=mandike128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Mandike-qt
